### .gitignore ###

# Env Variables
.env
.env.*

# Workspace settings
.vscode

# Optional npm cache directory
.npm

# Dependency directories
node_modules
jspm_packages
.idea

# Yarn Integrity file
.yarn-integrity

# Build Files
public/
.cache/
_gatsd-shim
_build-env

# Gatsby context
.gatsby-context.js

# Output of 'npm pack'
*.tgz

# node-waf configuration
.lock-wscript

# Compiled binary addons
build/Release

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Sanity files
foo
foo.sh
bar
bar.sh